---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;

%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Slider styling for speed control
#speed-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    border-radius: 3px;
    background: $grey-color-light;
    outline: none;
}

#speed-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: $brand-color;
    cursor: pointer;
    border: 2px solid white;
    box-shadow: 0 0 2px rgba(0,0,0,0.3);
}

#speed-slider::-moz-range-track {
    height: 6px;
    border-radius: 3px;
    background: $grey-color-light;
}

#speed-slider::-moz-range-thumb {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: $brand-color;
    cursor: pointer;
    border: 2px solid white;
    box-shadow: 0 0 2px rgba(0,0,0,0.3);
}

#speed-slider::-ms-track {
    height: 6px;
    border-color: transparent;
    color: transparent;
    background: transparent;
}

#speed-slider::-ms-fill-lower,
#speed-slider::-ms-fill-upper {
    background: $grey-color-light;
    border-radius: 3px;
}

#speed-slider::-ms-thumb {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: $brand-color;
    cursor: pointer;
    border: 2px solid white;
    box-shadow: 0 0 2px rgba(0,0,0,0.3);
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "index",
    "demo",
        "license"
;
#speed-slider {
  background: $grey-color-light;
}

#speed-slider::-webkit-slider-thumb,
#speed-slider::-moz-range-thumb,
#speed-slider::-ms-thumb {
  background: $brand-color;
}

// Navigation styling
@media (min-width: 768px) {
  .navbar-nav > li:not(:last-child) {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
  }
  .navbar-nav > li.active > a,
  .navbar-nav > li.active > a:hover,
  .navbar-nav > li.active > a:focus {
    background-color: transparent;
  }
}