{% assign t = site.data.translations[page.lang] %}

<hr class="featurette-divider footer-featurette-divider" />

<div class="container">
  <footer>
    <p class="pull-right"><a href="#">{{ t.back_to_top }}</a></p>
    <p>
        &copy; 2025 Hanzi Guide
        <span class="footer-separator"></span>
        <a href="/license.html">License</a>
        <span class="footer-separator"></span>
        <a href="/impressum.html">Impressum</a>
    </p>
  </footer>
</div>

<script src="/assets/cdn/jquery/jquery.min.js"></script>
<script src="/assets/cdn/bootstrap/bootstrap.min.js"></script>

{% if page.js %}
  {% if page.js == "assets/js/index.js" or page.js == "assets/js/pdf.js" %}
    <script src="/assets/cdn/jspdf/jspdf.umd.min.js"></script>
  {% endif %}
  {% if page.module %}
    <script type="module" src="{{ page.js }}"></script>
  {% else %}
    <script type="application/javascript" src="{{ page.js }}"></script>
  {% endif %}
{% endif %}
