<hr class="featurette-divider footer-featurette-divider" />

<div class="container">
  <footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>
        &copy; 2025 Hanzi Guide
        <span class="footer-separator"></span>
        <a href="/license.html">License</a>
        <span class="footer-separator"></span>
        <a href="/impressum.html">Impressum</a>
    </p>
  </footer>
</div>

<script src="/assets/cdn/jquery/jquery.min.js"></script>
<script src="/assets/cdn/bootstrap/bootstrap.min.js"></script>

{% if page.js %}
  <script type="application/javascript" src="{{ page.js }}"></script>
{% endif %}
